doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        if (bot.nsfw)
            #img-holder
                img#bot-icon.nsfw(width='180px' height='180px' src=bot.logo)
                #botprefix
                    code.prefix #{bot.prefix}
        else
            #img-holder
                img#bot-icon(width='180px' height='180px' src=bot.logo)
                #botprefix
                    code.prefix #{bot.prefix}
        h2.right(style='display: inline;')
            | #{bot.username}
            | !{discord_verified ? '<i class="fas fa-medal"></i>' : ""}
        if (servers)
            .right.servers #{`${servers} servers`}
        .right#liketext #{`${bot.likes || 0} Likes`}
        case botUser.presence.status
            when "online"
                .sts.online
                    i.fas.fa-circle
                    span #{activity ? activity : "Online"}
            when "idle"
                .sts.idle
                    i.fas.fa-circle
                    span #{activity ? activity : "Idle"}
            when "dnd"
                .sts.dnd
                    i.fas.fa-circle
                    span #{activity ? activity : "Dnd"}
            default
                .sts.offline
                    i.fas.fa-circle
                    span Offline
        .right.summary(style='margin: 10px;') #{bot.description}
        .right.buttons-case(style='display: inline;')
            a.bot-btns.button(target='_blank' href=bot.invite ? bot.invite : `https://discord.com/oauth2/authorize?client_id=${bot.botid}&scope=bot&permissions=0`)
                | Invite
            a.bot-btns.button(href=`/bots/like/${bot.botid}`) Like
            a.bot-btns.button(target='_blank' href=`/api/embed/${bot.botid}`) Embed
        if (isUrl)
            #long.isurl !{desc}
        else
            #long
                span.markdown-body !{desc}
        #edit.linkx(style='display: none;')
            a(target='_blank' href=`/edit/${bot.botid}`) Edit
        
        #owners
            each person in owners
                a.owner(href=`/user/${person.id}`)
                    img(height='30px' src=person.tag !== 'Unknown User'  ? person.displayAvatarURL({format: "png"}) : '/assets/default-avatar.png')
                    span.navtext #{person.tag}
