doctype html
include includes/head.pug
script(src='/assets/js/form.js')
script(src="https://www.google.com/recaptcha/api.js" async defer)
link(rel="stylesheet" href="/assets/css/tags.css")

body
    include includes/nav.pug
    #content
      span.header
        h1 Resubmit 
        p You can edit your bot or find your bot auth details below.
      br
      form.center
        .input-holder
          input#botid.input(type='text' placeholder=' ' value=bot.botid readonly='')
          .placeholder Client ID
        br
        .input-holder
          input#prefix.input(type='text' placeholder=' ' value=bot.prefix)
          .placeholder Prefix
        br
        .input-holder
          input#description.input(maxlength=max_summary_length type='text' placeholder=' ' value=bot.description)
          .placeholder Summary
        br
        .input-holder
          input#invite.input(type='text' placeholder=' ' value=bot.invite)
          .placeholder Custom Invite
        br
        .input-holder
          textarea#longdesc.input(rows='7') #{bot.long}
          .textarea-placeholder
            | Description
        br
        .input-holder
          input#note.input(maxlength=max_summary_length type='text' placeholder=' ')
          .placeholder Note to admin
        br
        .input-holder
          input#owner-ids.input.xinput(type='text' placeholder=' ' value=bot.additional)
          .placeholder Additional Owner IDs
        br
        .center-inline.g-recaptcha(data-callback='update_token' data-sitekey=site_key data-theme=req.cookies["theme"] || "light")
        a.button(onclick='submit(true)') Resubmit
        br
