doctype html
include includes/head.pug
script(src='/assets/js/vote.js')
body
    include includes/nav.pug
    #content
        #cards
            div.vote.card
                if (bot.nsfw)
                    img.icon.nsfw(src=val.logo)
                else
                    img.icon(src=bot.logo)
                h2.title #{bot.username}

                p.cc You can vote every 12 hour 
                a.small.button()#vote Vote
                if(users)
                    p#date(style='display: none;') #{`${users.date}`}
                else
                    p#date(style='display: none;') Undefined
                if(bot.vote)
                    p#votes(style='display: none;') #{`${bot.vote} Votes`}
                else
                    p#votes(style='display: none;') #{`0 Votes`}
        br
