<!DOCTYPE html>
<html>

<head>
    <meta property="og:title" content="Discord Bots" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Just another bot list for discord..." />
    <meta name="description" content="Just another bot list for discord..." />
    <meta name="og:image" content="https://cdn.glitch.com/3f2aa87c-0707-4d16-b533-62cb0b69db35%2FDiscord%20Bot%20List%20Icon%20-%20Large%202.png?1543200818856" />
    <meta name="theme-color" content="#d2efe6" />
    <link href="https://fonts.googleapis.com/icon?family=Markazi+Text" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/3f2aa87c-0707-4d16-b533-62cb0b69db35%2FDiscord%20Bot%20List%20Icon%20-%20Large%202.png?1543200818856" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="/main/script.js"></script>
    <link href="/main.css" rel="stylesheet">
    <title>Discord Bots</title>
</head>

<body>
    <div id="navTop">
        <span class="nav link" href="/">
        <a href="/"><img src="https://cdn.glitch.com/3f2aa87c-0707-4d16-b533-62cb0b69db35%2FDiscord%20Bot%20List%20Icon%20-%20Large%202.png?1543200818856"></a>
        <span class="navtag">
          
          <a href="/"><span class="navtext">Discord Bot List</span></a>
        <svg class="arrow" viewbox="0 0 18 35" xmlns="http://www.w3.org/2000/svg"><g id="Symbols" fill="none" fill-rule="evenodd"><g id="community/header" fill="#3369E6"><g id="Group-13"><g id="Group-2"><path id="Combined-Shape-Copy" d="M1.8537 34.7643l15.5597-17.268L1.8537 0H0l15.5597 17.4964L0 34.7644z"></path></g></g></g></g></svg>

        <a class="navtext active-navtext" target="_blank" href="#">
            <%= user.tag %>
        </a>
        </span>
        </span>
        <span class="dropdown">
        <a class="navtag" id="login" href="/api/discord/login">Login</a>
        <span class="dd-content">
          <a href="https://discord.gg/PA9EYba" target="_blank">Join Server</a><br />
          <a href="/add">Add bot</a><br />
          <a href="/theme">Toggle Theme</a><br />
          <a href="/logout">Logout</a>
        </span>
        </span>

    </div>
    <div id="content">
        <span class="header">
        <h1><%= user.username %></h1>
        <p>This user does not have a bio</p>
      </span>

        <div id="cards">
            <% for(let i of cards) { %>
                <div class="card">
                    <img src="<%= i.logo %>" class="icon">
                    <h2 class="title">
                        <%= i.name %>
                    </h2>
                    <p class="desc">
                        <%= i.description %>
                    </p>
                    <a href="/bots/<%= i.id %>/" class="small button">View bot</a>
                </div>
                <% } %>
        </div>
    </div>

</body>

</html>