doctype html
include ../includes/head.pug
body
  include ../includes/nav.pug
  #content
    span.header
        img.icon(src=userProfile.displayAvatarURL() width="100px")
        h1 #{userProfile.username}
        .badge-holder
            if (admin)
                span.badge
                    img(src='/assets/img/admin.png' title='Admin')
                    |  Admin
            if (moderator)
                span.badge
                    img(src='/assets/img/moderator.png' title='Moderator')
                    |  Moderator
    #cards
        each val, i in cards
            div.card
                if (val.nsfw)
                    img.icon.nsfw(src=val.logo)
                else
                    img.icon(src=val.logo)
                h2.title #{val.username}
                    a.likes(href=`/bots/like/${val.botid}`)
                        i.far.fa-heart
                        | #{val.likes || 0}
                p.desc #{val.description}
                a.small.button(href=`/bots/${val.botid}`) View Bot
