doctype html
include ../includes/head.pug
script(src="/assets/js/me.js")
body
  include ../includes/nav.pug
  #content
    span.header
        h1 #{user.username}
        .badge-holder
            if (admin)
                span.badge
                    img(src='/assets/img/admin.png' title='Admin')
                    |  Admin
    br
    a.button(href='/add') Add a bot
    #cards
        each val, i in cards
            div.large.card
                img.icon(src=val.logo)
                h2.title #{val.username}
                p.desc #{val.description}
                a.small.button(href=`/bots/${val.botid}`) View Bot
                if (val.state == "deleted")
                    a.small.half.half-left.button(href=`/bots/resubmit/${val.botid}/`) Resubmit
                    a.small.half.half-right.button.button-red.delete(href="#confirm" data-id=val.botid data-name=val.username)
                        |  Delete
                else
                    a.small.half.half-left.button(href=`/bots/edit/${val.botid}/`) Edit Bot
                    a.small.half.half-right.button.button-red.delete(href="#confirm" data-id=val.botid data-name=val.username)
                        |  Delete
    br
    span.center
        a(href='/join') Join Server
        |   |  
        a(href='/add') Add a bot
        |   |  
        a(href='/api/theme') Toggle theme
        |   |  
        a(href='/logout') Logout
    br
