#navTop
    span.nav.link
        a(href="/")
            img(src='/assets/img/logo.png')
    span.navtag
        a(href="/")
            span.navtext.keep Discord Bot List
        include arrow.pug
        if (bot && !site_key) 
            a(href=`/bots/${bot.botid}`)
                span.navtext #{bot.username}
            include arrow.pug
            a(href=`/api/embed/${bot.botid}` target="_blank")
                span.navtext Embed
        if ((req.baseUrl == "/user" || req.baseUrl == "/me") && userProfile)
            a(href=`/user/${userProfile.id}`)
                span.navtext #{userProfile.username}
        if (req.baseUrl == "/tag")
            a(href=`/tag/${tag}`)
                span.navtext.capitalise #{tag}
    a#searcher.navtag.keep.search(href='/bots/search/')
        #search.navtext
            i.fas.fa-search
            |  Search
    span.dropdown
        if (req.user)
            a#login.navtag.keep(href='/login') #{req.user.username}##{req.user.discriminator}
            span.dd-content
                a(href='/join' target='_blank') Join Server
                br
                a(href='/add') Add bot
                br
                a(href='/api/theme') Toggle Theme
                br
                a(href='/about') About
                if (req.user.staff)
                    br
                    a(href='/admin') Dashboard
                br
                a(href='/logout') Logout
        else
            a#login.navtag.keep(href='/login') Login
